.sidebar_container {
  background: black;
  color: white;
}
.sidebar_title {
  background: rgba(0, 0, 0, 0.658);
  display: flex;
  height: 60px;
  gap: 6px;
  align-items: center;
  padding: 5px 22px;
}
.sidebar_image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.sidebar_text {
  font-size: 22px;
}
.sidebar_buttons {
  margin: 25px 25px;
  color: white;
}
.button_title {
  font-size: 22px;
}
/* .side_btn {
  background: black;
} */

.side_btn > button {
  border: 0;
  background: 0;
  margin-top: 35px;
  font-size: 15px;
  gap: 15px;
  cursor: pointer;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}
.side_btn > button.key {
  background: blue;
}
